.error-box {
    $errorBgColor: #C17776; //#D9534F;
    $headerTextColor: #FFFFFF;


    .modal-header {
        background-color: $errorBgColor;
    }

    .modal-content {
        .modal-header {
            color: $headerTextColor;

            button.close {
                color: $headerTextColor;
                opacity: 0.7;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}