@import "../../common.scss";

.app-body {

    display: flex;
    height: 100%;
    flex-direction: column;
    align-content: flex-start;

    &__body-content {
        display: flex;
        flex-direction: row;
        flex-basis: 1px;
        flex-grow: 1;
        align-content: stretch;
        min-height: 50px;
    }
}