.user-page {
    .app-body__body-content {
        display: block;
        overflow: auto;
    }

    &__container.container-fluid {
        padding-left: 0;
        padding-right: 0;
    }

    &__list-group {
        &.list-group {
            margin-bottom: 0;
        }

        &-container {
            &.col-sm-3 {
                padding-right: 0;
                padding-left: 0;
            }
        }
    }

    &__main-row {
        &.row {
            margin-right: 0;
            margin-left: 0;
        }
    }

    &__content {
        &.col-sm-9 {
            padding: 15px;
        }
    }
}